body {
    margin: 0;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #01438a; 
}


.logoSite img {
    width: 125px; 
    
}

.section.yellow {
    display: flex;
    justify-content: center; 
}

.icons-container {
    display: flex; 
    gap: 40px; 
}

.iconTextYellow {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #01438a;
}

.iconTextYellow img {
    width: 95px;
    height: auto;
}

.iconInstagram a {
    font-size: 24px; 
    color: #ffffff; 
    text-decoration: none;
}

.section {
    padding: 50px;
}

.blue {
    background-color: #8295ae;
    font-size: 25px;
    color: white;
}

.blue b{
    color: #f4ad04;
}

.yellow {
    background-color: #f4ad04; 
    color: black;
}


.iconsSectionBlue {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.iconTextBlue {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
}

.iconTextBlue i {
    font-size: 15px;
    color: #f4ad04;
}

